// TODO: separate less files into app.less, movie.less, movies.less, and variables.less (will contain @bg-green: #whatever) and @import into app.less

body {
  font-family: 'Roboto', sans-serif; font-weight: 300;
  background-color: #b9f6ca;
}

a {
  color: inherit;
}

.nav-area {
  display: block;
}

.list {
  padding-left: 0;
}

.movie {
  list-style: none;
  background-color: #f3c8a7;
  border-radius: 4px;
  border: 1px solid white;
  padding: 6px 0 8px 8px;
  margin-top: 18px;
  box-shadow: 5px 5px 9px #888;
}

.movie-title {
  margin: 8px;
  display: inline;
}

.movie-details {
  font-style: italic;
  margin-bottom: 16px;
  background-color: #7cffb8;
}

.movie-details span {
  padding-left: 16px;
}

ul li:nth-child(even) {
  background-color: #dddddd;
}

ul li:nth-child(odd) {
  background-color: #d4d4d4;
}

.available {
  font-size: 18px;
  font-weight: bold;
  color: #008c24;
}

.checked-out {
  font-size: 18px;
  font-weight: bold;
  color: #ed0000;
}